@import "tailwindcss";

:root {
    --background: #EDF0FC;
    --foreground: #0D1F3E;
    --accent: #4782E4;
    --accentDark: #325FA9;
}
@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
    :root {
        --background: #0D1F3E;
        --foreground: #EDF0FC;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
